body {
/* background-image: url('https://s3.amazonaws.com/assets.dischord.com/images.d/release/image/448765/BA_ARR_Box_170221-4.jpg');
background-size: cover; */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result {
  padding: 0 2em 0 2em;
}

.resultTitle {
  text-decoration: underline;
  font-weight: bold;
}

.seat {
  background-color: green;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px;
}


.hello {
  color: white;
  /* pointer-events: none; */
}

.search, .result {
  /* background-color: lavender; */
  color: black;
  margin-top: -10px;
  text-align: center;
}

.redBG {
  border: 5px solid transparent;
  background-color: red;
  pointer-events: none;
}

.greenBG {
  border: 5px solid transparent;
  background-color: green;
}

.borderClick {
  background-color: gray;
  border: 5px solid black;
}
