// Place all the styles related to the flight controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

  background-image: url('https://s3.amazonaws.com/assets.dischord.com/images.d/release/image/448765/BA_ARR_Box_170221-4.jpg');

  background-size: cover;


}

h1 {

  text-align: center;
}
